<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />

    <title>Rhinola</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">rhinola</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div class="row center">
          
        </div>
      </main>
      <footer class="row center">All Right Reserve Rhinola 2021</footer>
    </div>
  </body>
</html>
